body{background-color:#fff;text-align:center;}
body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,th,td,button{margin:0;padding:0;font-family:Apple-Gothic,Dotum,돋움,sans-serif;font-size:12px;}
input,textarea,select{font-family:Apple-Gothic,Dotum,돋움,sans-serif;font-size:12px;}
em{font-style:normal;}
ol,ul,dl{list-style:none;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
legend,caption{display:none;}
*{-webkit-text-size-adjust:none;}